<div class="container mt-5">
<h4>Internal Server Error- refreshing page will make the exception dissapear</h4>


<ng-container *ngIf="error" >

    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: if you are seeing this then Angular probably not responsible</p>
    <p>What to do next</p>
    
    <ol>
        
    <li>open chrome dev tools</li>
    <li>Inspect  the network tav</li>
    <li>check the failing  request</li>
    <li>Examine this request URL - make sure  this is correct  </li>
    <li>reproduce the error in the postman - if we see the same response in Postman, then the issue is NOT with Angular</li>

    </ol>
    
    <P>Following is the the stack trace - this is where your investigation should start!</P>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>

</ng-container>


</div>


